$theme: "dark";

$jawg-dark: rgb(25, 26, 26);
$jawg-light: rgb(202, 210, 211);

$text-primary-dark: white;
$text-secondary-dark: slategray;
$axis-color-dark: slategray;
$body-color-dark: white;
$graph-secondary-dark: rgb(225, 225, 225);

$text-primary-light: black;
$text-secondary-light: #333333;
$axis-color-light: darkslategray;
$body-color-light: black;
$graph-secondary-light: darkgray;

$transparent: rgba(0, 0, 0, 0);
$twitter-main: #00acee;
$twitter-darkgray: #657786;
$tweet-bg: #01212e;
$dark-bg: #3a414e;
$selected-bg: slategray;
$border: slategray;
$live: red;
$highlight: red;
$hover: silver;

$body-bg: $jawg-dark;
$body-color: $body-color-dark;
$text-primary: $text-primary-dark;
$text-secondary: $text-secondary-dark;
$axis-color: $axis-color-dark;
$graph-secondary: $graph-secondary-dark;
