:root {
  --transparent: rgba(0, 0, 0, 0);
  --twitter-main: #00acee;
  --twitter-darkgray: #657786;
  --tweet-bg: #01212e;
  --selected-bg: slategray;
  --highlight: red;
  --hover: silver;
  --annotation: rgb(223, 69, 69);
}

.app.dark {
  --bg: rgb(25, 26, 26); // jawg-dark
  --body-bg: var(--bg);
  --bg-map: var(--bg);
  --bg-hover: #191a1f;
  --bg1: rgb(29, 29, 31);
  --bg2: rgb(22, 22, 24);
  --body-color: white;
  --text-primary: white;
  --text-secondary: rgb(152, 165, 179);
  --heading: #d6d5d5;
  --axis-color: slategray;
  --graph-primary: var(--text-primary);
  --graph-secondary: rgb(164, 164, 164);
  --border: rgb(54, 65, 87);
  --link: rgb(156, 203, 242);
  --live: red;
}

.app.light {
  --bg: rgb(202, 210, 211); // jawg-light
  --body-bg: var(--bg);
  --bg-map: var(--bg);
  --bg-hover: #b3b4b8;
  --bg1: #e4f4f7;
  --bg2: #dce6f5;
  --body-color: black;
  --text-primary: black;
  --text-secondary: #333333;
  --heading: #434343;
  --axis-color: darkslategray;
  --graph-primary: var(--text-primary);
  --graph-secondary: rgb(148, 148, 148);
  --border: rgb(172, 181, 191);
  --link: rgb(34, 113, 150);
  --live: red;
}

.app.dusk {
  --bg: rgb(252, 203, 143);
  --body-bg: var(--bg);
  --bg-map: var(--bg);
  --bg-hover: #b3b4b8;
  --bg1: #f3f1dd;
  --bg2: #f3e6cd;
  --body-color: black;
  --text-primary: black;
  --text-secondary: #333333;
  --heading: #434343;
  --axis-color: darkslategray;
  --graph-primary: var(--text-primary);
  --graph-secondary: rgb(148, 148, 148);
  --border: rgb(216, 156, 87);
  --link: rgb(113, 39, 17);
  --live: red;
}
