:root {
  --transparent: rgba(0, 0, 0, 0);
  --twitter-main: #00acee;
  --twitter-darkgray: #657786;
  --selected-bg: slategray;
  --highlight: red;
  --hover: silver;
}

#app.dark {
  --annotation: #e63838;
  --attribution: #88888888;
  --axis-color: slategray;
  --bg: rgb(25, 26, 26); // jawg-dark
  --bg-hover: #191a1f;
  --bg-map: var(--bg);
  --bg1: #1d1d21;
  --bg2: #26262e;
  --bg3: #2a2a35;
  --bg4: #2d2d3c;
  --bg5: #323248;
  --bg6: #373755;
  --bg7: #3c3c60;
  --bg8: #3f3f6a;
  --body-bg: var(--bg);
  --border: rgb(54, 65, 87);
  --geo: rgb(36, 137, 238);
  --geo-bounds: rgba(36, 137, 238, 0.5);
  --graph-primary: #f2e5df;
  --graph-secondary: rgb(164, 164, 164);
  --heading: #d6d5d5;
  --link: rgb(156, 203, 242);
  --live: red;
  --text-primary: white;
  --text-secondary: rgb(152, 165, 179);
  --texture: var(--geo);
  --tweet-bg: #01212e;
}

#app.light {
  --annotation: #e02a2a;
  --attribution: #c1c1c188;
  --axis-color: #afadad;
  --bg: #cad2d3; // jawg-light
  --bg-hover: #eef2f4;
  --bg-map: var(--bg);
  --bg1: #eef4f4;
  --bg2: #f6f8f9;
  --bg3: #eef4f4;
  --bg4: #e7edee;
  --bg5: #eff4f5;
  --bg6: #e4eaeb;
  --bg7: #eff4f5;
  --bg8: #e4eaeb;
  --body-bg: var(--bg);
  --border: rgb(172, 181, 191);
  --geo: rgb(91, 152, 214);
  --geo-bounds: rgba(104, 150, 197, 0.5);
  --graph-primary: #1f343f;
  --graph-secondary: rgb(148, 148, 148);
  --heading: #595959;
  --link: rgb(34, 113, 150);
  --live: red;
  --text-primary: #042638;
  --text-secondary: #676767;
  --texture: var(--geo);
  --tweet-bg: rgb(222, 232, 233);
}

#app.dusk {
  --annotation: #e94646;
  --attribution: #88888866;
  --axis-color: darkslategray;
  --bg: rgb(252, 203, 143);
  --bg-hover: #f1ddb1;
  --bg-map: var(--bg);
  --bg1: #b7c5ee;
  --bg2: #dcc4e6;
  --bg3: #e8cbe3;
  --bg4: #eecdd2;
  --bg5: #f5cac3;
  --bg6: #f9d1af;
  --bg7: #f9dbb7;
  --bg8: #fae5c1;
  --body-bg: var(--bg);
  --border: rgb(228, 156, 117);
  --geo: rgb(8, 89, 136);
  --geo-bounds: rgba(8, 89, 136, 0.5);
  --graph-primary: #2d0c02;
  --graph-secondary: rgb(148, 148, 148);
  --heading: #434343;
  --link: rgb(143, 50, 21);
  --live: red;
  --text-primary: rgb(24, 20, 18);
  --text-secondary: rgb(87, 72, 65);
  --texture: var(--geo);
  --tweet-bg: #e7d1c0;
}
