.container {
  display: inline-block;
  margin: 1em;
  padding: 0.5em;
  min-width: 100px;
  min-height: 100px;
}
.header {
  border-bottom: 1px solid silver;
}
.title {
  display: inline-block;
}
.total {
  display: inline-block;
  color: orangered;
  font-weight: bold;
  margin-right: 1em;
}
.body {
  font-size: 0.75rem;
}
