@import "../colors.scss";

.container {
  display: inline-block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border: 1px solid $border;
  width: 140px;
  height: 140px;
}
.container.phone {
  width: 110px;
  height: 110px;
}
