@import "../colors.scss";

.container {
  display: inline-block;
  margin-top: 0.4em;
  margin-bottom: 0;
  border: 1px solid var(--border);
  width: var(--areamap-size);
  height: var(--areamap-size);
}
.container.phone {
  width: var(--areamap-size-phone);
  height: var(--areamap-size-phone);
}
