@import "../colors.scss";

$axis-color: silver;

.container {
  display: inline-block;
  margin: 0.25em;
  color: $text-primary;
  text-align: left;
}
.svg {
  display: inline-block;
}
.chart {
  border-top: 1px solid slategray;
}
.total {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
}
.title {
  float: right;
  color: $text-secondary;
}
.axis {
  color: $axis-color;
}

.live {
  animation: pulse 3s infinite ease-in-out;
}
.live circle {
  fill: $live;
  stroke: none;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
