.container {
  display: inline-block;
  margin: 0.5em;
  color: white;
  text-align: left;
}
.chart {
  border-top: 1px solid slategray;
}
.total {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
}
.title {
  float: right;
  color: silver;
}
