@import "../colors.scss";

// TODO - switch to flexbox
.container {
  display: block;
  margin: 1em 2em;
  color: $text-primary;
  text-align: left;
}
.itemContainer {
  display: block;
  clear: both;
  padding: 3em auto;
  border-left: 5px solid $transparent;
  border-right: 5px solid $transparent;
}
.itemContainer:hover {
  border-left-color: $border;
  padding: 1em auto;
}

.fullWidth {
  width: 100%;
}

.float {
  float: right;
  text-align: left;
  padding-left: 1em;
}

.text {
  text-align: right;
}
.list {
  font-size: 0.8em;
  color: $text-secondary;
}
.item {
  clear: both;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.item > * {
  vertical-align: top;
}
.container a {
  color: $text-primary;
  text-decoration: none;
}
