@import "../colors.scss";

// TODO - switch to flexbox
.container {
  display: block;
  color: var(--text-primary);
  text-align: left;
}
.item {
  // border: 1px solid var(--border);
  display: inline-block;
  margin-bottom: 2em;
  width: 50%;
  // border-left: 5px solid var(--transparent);
  // border-right: 1px solid var(--transparent);
  // border-top: 1px solid var(--transparent);
  // border-bottom: 1px solid var(--transparent);
  padding: 1em auto;
}

.area {
  font-size: 1.2em;
}
.text {
  font-size: 0.9em;
  margin-top: 0;
  padding-right: 1em;
}
.list {
  padding-top: 0.25em;
  line-height: 1.3em;
  color: var(--text-secondary);
}

.mini {
  background: var(--bg-hover);
  margin-right: 0.5em;
  padding: 0.25em;
  border-radius: 5px;
}

.phone {
  font-size: 0.9em;
}

.major {
  margin-bottom: 0;
}
.active {
  color: var(--highlight);
}
.container a {
  color: var(--text-primary);
  text-decoration: none;
}
