@import "../colors.scss";

.container {
  display: block;
  margin: 0.25em auto;
  color: $text-primary;
  text-align: center;
}
.item {
  border-bottom: 1px solid $transparent;
}

.item:hover {
  color: $text-primary;
  border-color: $border;
}
