@import "../colors.scss";

.container {
  // border: 1px solid $border;
}

.svg {
  // border: 2px dotted $border;
}

.svg rect.previous {
  fill: silver;
}

.svg rect.current {
  fill: white;
}

.years {
  font-size: 2em;
}

.years .left {
  display: inline-block;
  text-align: right;
  color: $text-secondary;
  padding-right: 0.2em;
}
.years .right {
  display: inline-block;
  text-align: left;
  color: $text-primary;
  padding-left: 0.2em;
}

.axis text {
  font: bold 1.5em sans-serif;
  fill: $text-primary;
}
