@import "../colors.scss";

.container {
  text-align: center;
}

.svg {
  display: inline-block;
}

.svg rect.previous {
  fill: var(--graph-secondary);
}

.svg rect.current {
  fill: var(--graph-primary);
}

.years {
  font-size: 1.5em;
}

.years .left {
  display: inline-block;
  text-align: right;
  color: var(--graph-secondary);
  padding-right: 0.2em;
}
.years .right {
  display: inline-block;
  text-align: left;
  color: var(--graph-primary);
  padding-left: 0.2em;
}

.axis text {
  font-size: 1.5em;
  fill: var(--text-primary);
}
