@import "../colors.scss";

.container {
  // border: 1px solid $border;
}

.svg {
  border: 2px dotted $border;
}

.axis text {
  font: bold 1.5em sans-serif;
  fill: $text-primary;
}

.annotations {
  color: red;
}

.annotations .line {
  fill: green;
  stroke: yellow;
  stroke-width: 2px;
}
