@import "~leaflet/dist/leaflet.css";

.leaflet-container {
  text-align: center;
  margin-left: 1em;
  width: 90%;
  height: 200px;
}
.leaflet-pane {
  margin: auto;
}
.leaflet-container {
  .leaflet-control-attribution {
    background: rgba(50, 50, 50, 0.6);
    color: darkgray;
    a {
      color: rgb(98, 120, 153);
    }
  }
}
