@import "../colors.scss";

.container {
  display: inline-block;
  margin: 1em;
  padding: 0.5em;
  width: 100px;
  min-height: 100px;
  color: white;
}
.container:hover {
  color: white;
  background-color: $dark-bg;
}
.labels {
  text-align: right;
  margin-right: 0.25em;
}
.header {
  border-bottom: 1px solid silver;
}
.title {
  display: inline-block;
}
.total {
  display: inline-block;
  color: orangered;
  font-weight: bold;
  margin-right: 1em;
}
.body {
  font-size: 0.75rem;
}
.svg {
  margin-left: 0.5em;
}
