@import "../colors.scss";

.container {
  display: inline-block;
  margin: 1em;
  padding: 0.5em;
  width: 100px;
  min-height: 100px;
  color: $text-primary;
}
.withLabels {
  width: 160px;
}
.container:hover {
  color: $text-primary;
  background-color: $dark-bg;
}
.item {
  margin-bottom: -0.3em;
}
.label {
  display: inline-block;
  min-width: 80px;
  text-align: right;
  margin-right: 0.25em;
}
.header {
  border-bottom: 1px solid $text-secondary;
}
.title {
  display: inline-block;
  color: $text-secondary;
}
.total {
  display: inline-block;
  color: $text-primary;
  font-weight: bold;
  margin-right: 1em;
}
.body {
  font-size: 0.75rem;
}
.svg {
  margin-left: 0.5em;
}
