@import "../colors.scss";

.container {
  text-align: center;
  margin: 1em auto;
  width: 1000px;
  height: 800px;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  border: 2px solid red;
}
.pane {
  margin: auto;
}
