@import "../colors.scss";

.paragraph {
  text-align: left;
  margin: 1em auto;
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: var(--heading);
  }

  & a,
  & a:hover,
  & .link,
  & .link:hover {
    color: var(--link);
    border-bottom: 2px solid --link;
    text-decoration: none;
  }
}
.text {
  color: var(--text-secondary);
}

.margin {
  margin-left: 1em;
  margin-right: 1em;
}
