@import "../colors.scss";

.svg {
  border: 1px solid var(--border);
}

.element {
  // fill: var(--graph-secondary);
  // stroke: var(--graph-secondary);
  stroke-width: 1;
}

.axis {
  // color: var(--transparent);
  color: var(--graph-secondary);
  & text {
    font-size: 1.5em;
    font-weight: 200;
    fill: var(--text-secondary);
  }
}
