@import "../colors.scss";

.svg {
  // border: 4px solid (green);
}

.element {
  // fill: var(--graph-secondary);
  // stroke: var(--graph-secondary);
  stroke-width: 1;
  // fill: var(--graph-primary4);
}

.axis {
  color: var(--transparent);
  // color: var(--graph-secondary);
  & text {
    font-size: 1.5em;
    // font-weight: 200;
    fill: var(--text-secondary);
  }
}
