@import "../colors.scss";

.container {
  position: relative;
  margin: auto;
  text-align: center;
}

.counter {
  // https://css-tricks.com/centering-css-complete-guide/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  stroke-opacity: 0.8;
}

.axis line {
  stroke: $axis-color;
}

.axis text {
  fill: $axis-color;
}
