@import "../colors.scss";

.container {
  position: relative;
  margin: auto;
  margin-bottom: 2em;
  text-align: center;
}

.counter {
  // https://css-tricks.com/centering-css-complete-guide/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.axis text {
  fill: var(--axis-color);
}

.axis path {
  fill: var(--transparent);
  stroke: none;
}

.path {
  stroke-opacity: 0.6;
  stroke-linecap: round;
  stroke: var(--graph-primary);
  stroke-width: 2;
  fill: none;
}

.maincircle {
  stroke: var(--axis-color);
  stroke-width: 1;
  // fill: var(--bg-rehoboam);
  fill: none;
}

.events {
  opacity: 0.85;
}
circle.outer {
  stroke-width: 1.5;
}
