@import "../colors.scss";

.container {
  position: relative;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
}

.counter {
  // https://css-tricks.com/centering-css-complete-guide/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.path {
  stroke-opacity: 0.6;
  stroke-linecap: round;
  stroke: var(--graph-primary);
  stroke-width: 2;
  fill: none;
}

.maincircle {
  stroke: var(--axis-color);
  stroke-width: 1;
  fill: none;
}

.events {
  opacity: 0.9;
}
.eventcircle {
  fill: var(--graph-primary);
  stroke: none;
}
.major {
  stroke: var(--graph-primary);
  stroke-width: 1;
  fill: none;
}
.active circle {
  fill: $highlight;
  stroke: $highlight;
}
