@import "../colors.scss";

.section {
  width: 100%;
  text-align: center;
  // border-bottom: 1px solid var(--border);
}

.content {
  margin: 1em auto;
  display: inline-block;
  width: 500px;
}
.content.phone {
  width: 100%;
}

.styleDefault {
  background-color: var(--body-bg); // rgb(25, 26, 26);
}

.style1 {
  background-color: var(--bg1);
}
.style2 {
  background-color: var(--bg2);
}
.style3 {
  background-color: var(--bg3);
}
.style4 {
  background-color: var(--bg4);
}
.style5 {
  background-color: var(--bg5);
}
.style6 {
  background-color: var(--bg6);
}
.style7 {
  background-color: var(--bg7);
}
.style8 {
  background-color: var(--bg8);
}

.styleMap {
  background-color: var(--bg-map);
}

.subcontent {
  margin: auto 1em;
}
.subcontent.edgeToEdge {
  margin: auto 0;
}
