@import "../colors.scss";

.section {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $border;
}

.content {
  margin: 1em auto;
  display: inline-block;
  width: 600px;
  border-left: 1px dotted darkslategray;
  border-right: 1px dotted darkslategray;
}
.content.phone {
  width: 100%;
}

.styleDefault {
  background-color: $body-bg; // rgb(25, 26, 26);
}

.style1 {
  background-color: $bg1;
}

.style2 {
  background-color: $bg2;
}

.styleMap {
  background-color: $bg-map;
}

.subcontent {
  margin: auto 1em;
}
.subcontent.edgeToEdge {
  margin: auto 0;
}
