@import "../colors.scss";

.axis {
  color: var(--axis-color);
}
.axis line {
  stroke: var(--axis-color);
}
.axis text {
  fill: var(--axis-color);
}

.path {
  stroke-linecap: round;
  stroke: var(--graph-secondary);
  stroke-width: 1;
  fill: none;
}
.path.highlight {
  stroke: var(--highlight);
  stroke-width: 2;
}
.path.previous {
  stroke: var(--graph-secondary);
  stroke-width: 2;
}
.path.current {
  stroke: var(--graph-primary);
  stroke-width: 2;
}

.current circle {
  fill: var(--graph-primary);
  fill-opacity: 0.6;
}
.previous circle {
  fill: var(--graph-secondary);
  fill-opacity: 0.6;
}

circle.event {
  fill: var(--graph-primary);
}

circle.outer {
  stroke: var(--graph-primary);
  fill: none;
}

.container:not(.live) circle.outer {
  stroke: var(--graph-primary);
}

.now circle {
  animation: pulse 2s infinite ease-in-out;
  fill: var(--graph-primary);
  stroke: var(--graph-primary);
}

.live circle {
  animation: pulse 2s infinite ease-in-out;
  fill: var(--live);
}

.live circle.outer {
  animation: pulse 2s infinite ease-in-out;
  stroke: var(--live);
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
