@import "../colors.scss";

.axis {
  color: $axis-color;
}
.axis line {
  stroke: $axis-color;
}
.axis text {
  fill: $axis-color;
}
.path {
  stroke-linecap: round;
  stroke: $graph-secondary;
  stroke-width: 1;
  fill: none;
}
.highlight {
  stroke: $highlight;
  stroke-width: 2;
}

.live circle {
  animation: pulse 2s infinite ease-in-out;
}
.live circle {
  fill: $live;
  stroke: $live;
}
@keyframes pulse {
  0% {
    opacity: 0.7;
    stroke-width: 2;
  }
  50% {
    opacity: 1;
    stroke-width: 5;
  }
  100% {
    opacity: 0.7;
    stroke-width: 2;
  }
}
