@import "../colors.scss";

.button {
  color: var(--link);
  margin: 0 0.25em;
  padding: 0;
  background: none;

  &,
  &:focus,
  &:active {
    border: none;
    outline: none;
  }

  &:not(.selected) {
    border-bottom: 2px solid var(--link);
    &:hover {
      cursor: pointer;
    }
  }
}
