@import "../colors.scss";

.topline {
  display: inline-block;
  margin: auto;
  font-weight: 300;

  &.phone {
    font-size: 0.8em;
  }
}
.text {
  font-size: 2em;
  color: var(--text-secondary);
}
.total {
  display: inline-module;
  font-size: 5em;
  color: var(--text-primary);
  text-shadow: var(--text-primary) 0 0 4px;
  margin: -0.53em auto -0.5em auto;
}
.date {
  font-size: 2em;
  color: var(--text-secondary);
}

.stale {
  color: var(--stale);
}
