@import "../colors.scss";

.topline {
  display: inline-block;
  margin: auto;
}
.text {
  font-size: 2em;
  color: $text-secondary;
}
.total {
  display: inline-module;
  font-size: 4em;
  color: $text-primary;
  margin: -0.6em auto;
}
