/* 
https://about.twitter.com/content/dam/about-twitter/company/brand-resources/en_us/Twitter_Brand_Guidelines_V2_0.pdf
*/

@import "../colors.scss";

.container {
  clear: both;
  text-align: left;
  font-size: 0.9em;
  font-variant: small-caps;
  padding: 0.5em;
  border-bottom: 1px solid $border;
}
.container:hover,
.container.detailed {
  cursor: pointer;
  background-color: $tweet-bg;
  border-bottom: 1px solid $twitter-main;
}
.container.phone {
  font-size: 0.9em;
}

.greyedOut {
  color: $text-secondary;
}

.tweet {
  width: 100%;
  margin-bottom: -0.25em;
  color: $text-primary;
}

.active {
  color: $highlight;
}

.details {
  float: right;
  color: $text-secondary;
}
.units {
  color: $twitter-darkgray;
}
.location {
  padding: 0.5em;
}
