/* 
https://about.twitter.com/content/dam/about-twitter/company/brand-resources/en_us/Twitter_Brand_Guidelines_V2_0.pdf
*/

@import "../colors.scss";

.container {
  font-size: 0.8em;
  text-align: left;
  font-variant: small-caps;
  padding-top: 0.5em;
  border-bottom: 1px solid $transparent;
}
.container:hover {
  border-bottom: 1px solid $twitter-main;
  cursor: pointer;
}
.container.selected {
  border-bottom: 1px solid $twitter-main;
}

.tweet {
  width: 100%;
  margin-bottom: -0.25em;
}

.type {
  display: inline-block;
  color: orangered;
  font-weight: bold;
}

.location {
  float: right;
  color: $twitter-darkgray;
}
