/* 
https://about.twitter.com/content/dam/about-twitter/company/brand-resources/en_us/Twitter_Brand_Guidelines_V2_0.pdf
*/

@import "../colors.scss";

.container {
  font-size: 0.7em;
}
.container:hover {
  background-color: $dark-bg;
  cursor: pointer;
}
.container.selected {
  background-color: $selected-bg;
}

.tweet {
  border-bottom: 1px solid $twitter-main;
  width: 100%;
  padding-top: 1em;
}

.type {
  display: inline-block;
  color: orangered;
  font-weight: bold;
}

.location {
  float: right;
  color: $twitter-darkgray;
}
