@import "../colors.scss";

.container {
  width: 100%;
  padding: 0.5em auto;
  color: var(--text-primary);
  text-align: right;
}
.item {
  display: inline-block;
  padding-left: 1em;
  border-bottom: 2px solid var(--transparent);
}
.item:hover,
.item.selected {
  cursor: pointer;
  border-color: var(--hover);
}
.label {
  display: inline-block;
}
.header {
  border-bottom: 1px solid --text-secondary;
}
.title {
  display: inline-block;
  color: var(--text-secondary);
}
.total {
  display: inline-block;
  color: var(--text-primary);
  font-weight: bold;
  margin-right: 1em;
}
.body {
  font-size: 0.75rem;
}
.svg {
  margin-left: 0.5em;
}
