@import "../colors.scss";

// TODO - switch to flexbox
.container {
  display: block;
  color: $text-primary;
  text-align: left;
}
.itemContainer {
  clear: both;
  border-left: 5px solid $transparent;
  border-right: 5px solid $transparent;
}
.itemContainer:hover {
  border-left-color: $border;
  background-color: $bg-hover;
  padding: 1em auto;
}

.vpadding {
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.fullWidth {
  width: 100%;
}
.right {
  text-align: left;
}

.item {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.item > * {
  vertical-align: top;
}

.text {
  text-align: right;
  margin-top: -0.25em;
  padding-right: 1em;
}
.list {
  padding-top: 0.25em;
  font-size: 0.8em;
  line-height: 1.3em;
  color: $text-secondary;
}
.major {
  margin-top: -0.5em;
}
.container a {
  color: $text-primary;
  text-decoration: none;
}
