@import "../colors.scss";

.axis {
  color: $axis-color;
}
.axis line {
  stroke: $axis-color;
}
.axis text {
  fill: $axis-color;
}

.path {
  stroke-linecap: round;
  stroke: $graph-secondary;
  stroke-width: 1;
  fill: none;
}
.path.highlight {
  stroke: $highlight;
  stroke-width: 2;
}
.path.previous {
  stroke: gray;
  stroke-width: 2;
}
.path.current {
  stroke: white;
  stroke-width: 2;
}

.now circle {
  animation: pulse 2s infinite ease-in-out;
  fill: white;
  stroke: white;
}

.live circle {
  animation: pulse 2s infinite ease-in-out;
  fill: $live;
  stroke: $live;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    // stroke-width: 2;
  }
  50% {
    opacity: 1;
    // stroke-width: 5;
  }
  100% {
    opacity: 0.5;
    // stroke-width: 2;
  }
}
